<!DOCTYPE html>
<html ng-app="pinicClient">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="Chart.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pinic client</title>
</head>

<body class="container">

    <!-- Header -->
    <header>
        <h1 class="text-center">pinic client</h1>
        <h2 class="text-center">- wow, such doge</h2>
    </header>

    <!-- Forwarder info section -->
    <div ng-controller="ForwarderCtrl as forwarder">
        <h3>Forwarder相关</h3>

        <h4>Forwarder配置：</h4>
            <blockquote><code>{{ forwarder.config }}</code></blockquote>
            <button class="btn btn-primary" ng-click="forwarder.getConfig()">获取Forwarder配置</button>
        <hr/>

        <h4>Forwarder的Server列表：</h4>
            <blockquote><code>{{ forwarder.serverList }}</code></blockquote>
            <button class="btn btn-primary" ng-click="forwarder.listServers()">列出Forwarder的Server列表</button>
        <hr/>
    </div>

    <!-- Server info section -->
    <div ng-controller="ServerCtrl as server">
        <h3>Server相关</h3>

        <h4>要操作的Server的ID：{{ server.serverId }}</h4>
            <input type="text" class="form-control" placeholder="server_id" ng-model="server.serverId">
        <hr/>

        <h4>Server配置：</h4>
            <blockquote><code>{{ server.config }}</code></blockquote>
            <button class="btn btn-primary" ng-click="server.getConfig()">获取Server配置</button>
        <hr/>

        <h4>Server的Node列表：</h4>
            <blockquote><code>{{ server.nodeList }}</code></blockquote>
            <button class="btn btn-primary" ng-click="server.listNodes()">列出Server的Node列表</button>
        <hr/>
    </div>

    <!-- Node info section -->
    <div ng-controller="NodeCtrl as node">
        <h3>Node相关 {{ node.serverId }}</h3>

        <h4>要操作的Server的ID：{{ node.serverId }}</h4>
            <input type="text" class="form-control" placeholder="server_id" ng-model="node.serverId">
        <h4>要操作的Node的ID：{{ node.nodeId }}</h4>
            <input type="text" class="form-control" placeholder="node_id" ng-model="node.nodeId">
        <hr/>

        <h4>Node配置：</h4>
            <blockquote><code>{{ node.config }}</code></blockquote>
            <button class="btn btn-primary" ng-click="node.getConfig()">获取Node配置</button>
        <hr/>
    </div>

    <!-- Sensor info section -->
    <div ng-controller="SensorCtrl as sensor">
        <h3>Sensor相关</h3>

        <h4>要操作的Server的ID：{{ sensor.serverId }}</h4>
            <input type="text" class="form-control" placeholder="server_id" ng-model="sensor.serverId">
        <h4>要操作的Node的ID：{{ sensor.nodeId }}</h4>
            <input type="text" class="form-control" placeholder="node_id" ng-model="sensor.nodeId">
        <h4>要操作的传感器的ID：{{ sensor.sensorId }}</h4>
            <input type="text" class="form-control" placeholder="node_id" ng-model="sensor.sensorId">
        <hr/>
        
        <h4>传感器值：</h4>
            <blockquote><code>{{ sensor.sensorData }}</code></blockquote>
            <button class="btn btn-primary" ng-click="sensor.getSensorData()">取传感器值</button>
        <hr/>

        <h4>监控传感器：</h4>
            <h5>时间间隔(ms)：{{ sensor.chartInterval }}</h5>
            <input type="text" class="form-control" ng-model="sensor.chartInterval">
            <canvas id="sensor-chart" width="400" height="200"></canvas>
            <button class="btn btn-primary" ng-click="sensor.startChart()" ng-hide="sensor.isChartRunning">开始绘图</button>
            <button class="btn btn-primary" ng-click="sensor.stopChart()" ng-show="sensor.isChartRunning">停止绘图</button>
        <hr/>
    </div>

</body>
</html>