<div id="device-list-section-div" ng-controller="DeviceListCtrl as list">
    <h4>Server详情</h4>

    <ul class="list-group">
        <li class="list-group-item list-group-item-info" ng-class="{ warningdevice: server.isWarning }" ng-show="server.config">
            <h4><strong>{{ server.config.id }}</strong> <span class="badge">SERVER</span></h4>
            描述: {{ server.config.desc }}<br>
            地址: {{ server.config.addr }}:{{ server.config.port }}
            <div class="pull-right">
                <button class="btn btn-danger btn-xs" ng-show="server.isWarning" ng-click="removeWarning(server)">取消警报</button>
                <button class="btn btn-primary btn-xs" ng-click="showServerConfig(server.config.id)">配置</button>
            </div>
        </li>
        <li class="list-group-item" ng-repeat="node in server.nodes" ng-class="{ warningdevice: node.isWarning }">
            <div>
                <h5><strong>{{ node.config.id }}</strong></h5>
                描述: {{ node.config.desc }} 地址: {{ node.config.addr }}:{{ node.config.port }}
                <div class="pull-right">
                    <!--button class="btn btn-danger btn-xs" ng-show="node.isWarning" ng-click="removeWarning(node)">取消警报</button-->
                    <button class="btn btn-danger btn-xs" ng-show="node.isWarning" ng-click="removeNodeAndSubDeviceWarning(node)">取消警报</button>
                    <button class="btn btn-primary btn-xs" ng-click="showNodeConfig(server.config.id, node.config.id)">配置</button>
                </div>
            </div>
            <p></p>
            <table class="table">
                <tr>
                    <th>传感器</th>
                    <th>类型</th>
                    <th>设备描述</th>
                    <th>值</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="sensor in node.sensors" ng-class="{ warningdevice: sensor.isWarning }">
                    <td>{{ sensor.config.id }}</td>
                    <td>{{ sensor.config.type }}</td>
                    <td>{{ sensor.config.desc }}</td>
                    <td>{{ sensor.config.value }}</td>
                    <td>
                        <!--button class="btn btn-danger btn-xs" ng-show="sensor.isWarning" ng-click="removeWarning(sensor)">取消警报</button-->
                        <button class="btn btn-primary btn-xs" ng-click="toSensorChart(server.config.id, node.config.id, sensor.config.id)">绘图</button>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>