<!DOCTYPE html>
<html ng-app="pinicClient">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tgmerge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/lib/dygraph-combined-dev.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/pinicClient.js"></script>
    <title>pinic client</title>
</head>
<body class="container">

<!-- Header -->
<header>
    <h1 class="text-center">pinic client</h1>
    <h2 class="text-center">- wow, such doge</h2>
</header>

<div id="devices-section-div" ng-controller="DeviceTreeCtrl as tree">
    <h3>列表</h3>
    <div ng-show="deviceData.forwarder">
        <strong>{{ deviceData.forwarder.deviceType }}</strong> {{ deviceData.forwarder.config.id }} / {{ deviceData.forwarder.config.desc }} / {{ deviceData.forwarder.config.addr}} / {{ deviceData.forwarder.config.port }}
    </div>
    <ul>
        <li ng-repeat="server in deviceData.forwarder.servers">
            <strong>{{ server.deviceType }}</strong> {{ server.config.id }} / {{ server.config.desc }} / {{ server.config.addr }} / {{ server.config.port }}
            <ul>
                <li ng-repeat="node in server.nodes">
                    <strong>{{ node.deviceType }}</strong> {{ node.config.id }} / {{ node.config.desc }} / {{ node.config.addr }} / {{ node.config.port }}
                    <ul>
                        <li ng-repeat="sensor in node.sensors">
                            <strong>{{ sensor.deviceType }}</strong> {{ sensor.config.id }} / {{ sensor.config.desc }} / {{ sensor.config.type }} / {{ sensor.config.value }}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>