<!DOCTYPE html>
<html ng-app="pinicClient">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tgmerge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/pinicClient.css" />
    <link rel="stylesheet" type="text/css" href="css/simpletree.css" />
    <script type="text/javascript" src="js/lib/dygraph-combined-dev.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/socket.io.js"></script>
    <script type="text/javascript" src="js/lib/simpletreemenu.js"></script>
    <script type="text/javascript" src="js/pinicClient.js"></script>
    <title>pinic client</title>
</head>
<body class="container" ng-controller="tabController as tab">

<div class="page-header clearfix" ng-controller="StatusCtrl as status">
    <audio class="hidden" id="alert-audio" src="alert.mp3" preload="auto"></audio>
    <ul class="list-inline">
        <li>
            <h2>Pinic client</h2>
        </li>
        <li>
            |
        </li>
	    <li>
            Forwarder连接
            <div ng-class="{statusfine: forwarderStat, statuserror: !forwarderStat}"></div>
        </li>
	    <li>
            Server连接
            <div ng-class="{statusfine: serverStat, statuserror: !serverStat}"></div>
        </li>
        <li>
            Server报警
            <div ng-class="{statuserror: warningStat, statusfine: !warningStat}"></div>
        </li>
        <li>
            |
        </li>
        <li>
            <label><input type="checkbox" ng-model="willSoundAlert">声音</label>
        </li>
        <li>
            |
        </li>
        <li>
            <button class="btn btn-xs btn-danger" ng-show="warningStat" ng-click="cancelWarning()">取消警报</button>
        </li>
    </ul>
</div>

<div class="row">
    <!-- Navigation -->
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="disabled"><a><strong>导航</strong></a></li>
            <li ng-class="{ active:tabIsSet(1) }">
                <a href ng-click="setTab(1)">总览</a>
            </li>
            <li ng-class="{ active:tabIsSet(2) }">
                <a href ng-click="setTab(2)">监控曲线</a>
            </li>
            <li ng-class="{ active:tabIsSet(3) }">
                <a href ng-click="setTab(3)">Forwarder配置</a>
            </li>
            <li ng-class="{ active:tabIsSet(4) }">
                <a href ng-click="setTab(4)">Server配置</a>
            </li>
            <li ng-class="{ active:tabIsSet(5) }">
                <a href ng-click="setTab(5)">Node配置</a>
            </li>
        </ul>
    </div>

    <!-- Main content area -->
    <div class="col-md-10">
        <div devices-tab ng-show="tabIsSet(1)"></div>
        <div chart-tab ng-show="tabIsSet(2)"></div>
        <div forwarder-config-tab ng-show="tabIsSet(3)"></div>
        <div server-config-tab ng-show="tabIsSet(4)"></div>
        <div node-config-tab ng-show="tabIsSet(5)"></div>
    </div>
</div>

<div class="footer">
    <div class="container text-center">
        <p class="text-muted small">- Pinic, by tgmerge</p>
    </div>
</div>

</body>
</html>