<div id="server-config-section-div" ng-controller="ServerConfigCtrl as server">
    <h3>Server配置</h3>
    <form class="form-horizontal">
        <h4>当前配置</h4>
        <div class="form-group">
            <label class="col-sm-2 control-label">连接到Forwarder地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-value="currentConfig.forwarder_addr" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">连接到Forwarder端口</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-value="currentConfig.forwarder_port" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-value="currentConfig.server_id" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-value="currentConfig.server_desc" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server主机</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-value="currentConfig.server_host" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server端口</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-value="currentConfig.server_port" readonly>
            </div>
        </div>
    </form>

    <form class="form-horizontal" name="serverNewConfigForm">
        <h4>更新配置</h4>
        <div class="form-group">
            <label class="col-sm-2 control-label">连接到Forwarder地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newConfig.forwarder_addr" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">连接到Forwarder端口</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="newConfig.forwarder_port" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newConfig.server_id" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server 描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newConfig.server_desc" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server 主机</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="newConfig.server_host" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Server 端口</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="newConfig.server_port" required>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary center-block" ng-click="sendConfig()" ng-disable="serverNewConfigForm.$invalid">更新配置</button>
        </div>
    </form>
</div>
