tr.warningdevice {
    background: #ffff77;
}

#sensor-chart-container {
    position: relative;
    height: 300px;
}

#sensor-chart {
    position: absolute;
    left: 0;
    right: 16px;
    top: 16px;
    bottom: 16px;
}